@model List<Dtos.AlphaBank.AnalyzeLoanOpportunities.ShowLoanApplicationReviewedDTO>

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Historial Préstamos Rechazados";
}

<div class="container">
    <div class="card-white-transparent shadow-container mt-5 w-100">

        <div class="header-card">
            <div class="row">
                <p class="tittle">Historial de Préstamos Rechazados</p>
            </div>

        </div>

        <div class="card-main table-responsive pt-3">

            <h5>Lista préstamos rechazados:</h5>
            <div class="">

                <table id="tablahistoryrejectedloans" class="mt-4">

                    <thead>
                        <tr>
                            <th>ID Solicitud</th>
                            <th>Tipo de Préstamo</th>
                            <th>Fecha de Solicitud</th>
                            <th>Identificación Solicitante</th>
                            <th>Monto</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var item in Model){
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.TypeLoanDescription</td>
                                <td>@item.DateApplication</td>
                                <td>@item.PersonId</td>
                                <td>@item.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tablahistoryrejectedloans').DataTable({
        "responsive": true,
        "aServerSide": true,
        "autoWidth": false,
        "deferRender": true,
        "retrieve": true,
        "processing": true,
        "paging": true,
        "dom": 'Bfrtip',
        "buttons": ["csv", "excel", "pdf"],
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>