@model List<Dtos.AlphaBank.ContinueLoans.ShowLoanRecoveringDTO>

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Recuperación de Préstamos";
}

<div class="container">
    <div class="card-white-transparent shadow-container mt-5 w-100">

        <div class="header-card">
            <div class="row">
                <p class="tittle">Recuperación de Préstamos</p>
            </div>

            <br />

        </div>

        <div class="card-main table-responsive pt-3">

            <h5>Lista de Préstamos en Cobro Judicial:</h5>
            <div class="">

                <table id="tablerecoveryloan" class="mt-4">

                    <thead>
                        <tr>
                            <th>Identificación del Cliente</th>
                            <th>Préstamo</th>
                            <th>Estado del Préstamo</th>
                            <th>Moneda</th>
                            <th>Deuda</th>
                            <th>Renegociación</th>
                            <th>Notificación</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PersonId</td>
                                <td>@item.LoanId</td>
                                <td>@item.LoanStatement</td>
                                <td>@item.TypeCurrency</td>
                                <td>@item.LoanAmount</td>
                                <td>
                                    <button class="btn-green-border-8 pt-1 pb-1 btnCreateRenegotiation" data-id="@item.LoanId">
                                        Arreglo de Pago
                                    </button>
                                </td>
                                <td>
                                    <form method="post" asp-action="Notification" asp-controller="RecoveryLoan">
                                        <input type="hidden" name="loanId" value=@item.LoanId />
                                        <input type="hidden" name="amount" value=@item.LoanAmount />
                                        <button type="submit" class="btn-green-border-8 pt-1 pb-1">
                                            Notificar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreateRenegotiation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Arreglo de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="RecoveryLoan" asp-action="Create">
                <div class="modal-body">

                    <div id="contentCreateRenegotiation">
                        <!-- Parcial view -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close-border-8" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-green-border-8" action="">Renegociar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">
    $('#tablerecoveryloan').DataTable({
        "responsive": true,
        "aServerSide": true,
        "autoWidth": false,
        "deferRender": true,
        "retrieve": true,
        "processing": true,
        "paging": true,
        "dom": 'Bfrtip',
        "buttons": ["csv", "excel", "pdf"],
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>