@using System.Security.Claims
@model LoanApplicationViewModel;

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Solicitud de Préstamo";
}

<div class="container">
    <div class="card-white-transparent shadow-container mt-5 w-100">
        <div class="header-card">
            <div class="row">
                <p class="tittle">Solicitud de Préstamo</p>
            </div>

            <br />
            <form method="get" asp-controller="AnalyzeLoanOpportunities" asp-action="LoanApplication">
                <div class="row mt-4">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-3 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center control-label">
                                Identificación
                            </div>
                            <div class="col-9">
                                <input type="number" name="id" class="form-control input-radius-50 mt-0" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-3 pt-sm-3 pt-md-3 pt-lg-0 pt-xl-0">
                        <input type="submit" value="Consultar" class="btn btn-green w-100" />
                    </div>

                </div>
            </form>

        </div>

        <div class="card-main pt-3">
            <h5>Información personal:</h5>
            <div class="row">
                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label lass="control-label">Nombre Completo:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.FullName ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <label class="control-label">Estado Civil:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.MaritalStatus ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1">
                    <label class="control-label">Edad:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Age.ToString() ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Nacionalidad:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Nationality ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Ocupación:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Occupation ?? "")" disabled />
                </div>
            </div>

            <div class="row">
                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <label class="control-label">Teléfono:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.PhoneNumber.ToString() ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Correo Electrónico:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Email ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                    <label class="control-label">Dirección de Residencia:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Address ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label class="control-label">Salario Promedio Mensual:</label>
                    <input type="text" class="form-control" value="@(Model != null ? "₡" + Model.Customer.AverageMonthlySalary.ToString() : "")" disabled />
                </div>
            </div>

            <br />
            <hr />

            <form>
                <div class="row">
                    <h5>Archivos Adjuntos:</h5>
                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

                        <section class="mt-3">
                            <h5>Orden Patronal:</h5>

                            <div class="col-12 col-12 px-5 pt-5 pb-3 form-box bg-dark bg-opacity-10 text-center fs-5">
                                <i class="fa fa-solid fa-download font-50"></i>
                                <label asp-for="LoanApplication.EmployerOrder" class="small col-12">
                                    Seleccione el archivo
                                    <span> Aquí </span>
                                </label>
                                <input type="file" asp-for="LoanApplication.EmployerOrder" class="opacity-0" onchange="fileUpload()">
                            </div>
                            <span asp-validation-for="LoanApplication.EmployerOrder" class="text-danger"></span>
                            <div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 col-12">
                                        <ul class="list-group mx-auto my-3 rounded-0" id="list">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <section class="mt-3">
                            <h5>Constancia salarial:</h5>

                            <div class="col-12 col-12 px-5 pt-5 pb-3 form-box bg-dark bg-opacity-10 text-center fs-5">
                                <i class="fa fa-solid fa-download font-50"></i>
                                <label asp-for="LoanApplication.SalaryStatement" class="small col-12">
                                    Seleccione el archivo
                                    <span> Aquí </span>
                                </label>
                                <input type="file" asp-for="LoanApplication.SalaryStatement" class="opacity-0" onchange="fileUpload()">                              
                            </div>
                            <span asp-validation-for="LoanApplication.SalaryStatement" class="text-danger"></span>

                            <div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 col-12">
                                        <ul class="list-group mx-auto my-3 rounded-0" id="list">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
                <br />
                <hr />

                <h5>Información del préstamo:</h5>
                <div class="row">

                    <input type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" disabled />
  
                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.TypeLoanId" class="control-label">Tipo de préstamo:</label>
                        <select asp-for="LoanApplication.TypeLoanId" asp-items="ViewBag.TypeLoan" class="form-control"></select>
                        <span asp-validation-for="LoanApplication.TypeLoanId" class="text-danger"></span>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.DeadlineId" class="control-label">Plazo:</label>
                        <select asp-for="LoanApplication.DeadlineId" asp-items="ViewBag.Deadline" class="form-control"></select>
                        <span asp-validation-for="LoanApplication.DeadlineId" class="text-danger"></span>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.TypeCurrencyId" class="control-label">Moneda:</label>
                        <select asp-for="LoanApplication.TypeCurrencyId" asp-items="ViewBag.TypeCurrency" class="form-control"></select>
                        <span asp-validation-for="LoanApplication.TypeCurrencyId" class="text-danger"></span>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.Amount" class="control-label">Monto a solicitar:</label>
                        <input type="number" asp-for="LoanApplication.Amount" class="form-control" />
                        <span asp-validation-for="LoanApplication.Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.InterestId" class="control-label">Interés:</label>
                        <select asp-for="LoanApplication.InterestId" asp-items="ViewBag.Interest" class="form-control"></select>
                        <span asp-validation-for="LoanApplication.InterestId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label asp-for="LoanApplication.Justification" class="control-label">Justificación:</label>
                        <textarea asp-for="LoanApplication.Justification" class="form-control"></textarea>
                        <span asp-validation-for="LoanApplication.Justification" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="LoanApplication.AccountId" class="control-label">Cuenta Bancaria:</label>
                        <select asp-for="LoanApplication.AccountId" asp-items="ViewBag.Account" width="300" class="form-control"></select>
                        <span asp-validation-for="LoanApplication.AccountId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <span class="text-danger">@ViewData["Error"]</span>
                </div>

                <br />

                <div class="form-group d-flex justify-content-center pt-3">
                    <input type="submit" value="Enviar Solicitud" class="btn btn-green" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}