@model List<Dtos.AlphaBank.Security.ShowUserDTO>

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Usuarios";
}

<div class="card-white-transparent shadow-container mt-5">
    <div class="header-card">
        <p class="tittle">Usuarios</p>
        <div class="form-group d-flex justify-content-center pt-3">
            <button class="btn btn-green" id="btnCreateUsers">Agregar</button>
        </div>
    </div>
    <div class="card-main table-responsive text-nowrap pt-3">
        <table id="tablausers" class="mt-4">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) {
                    <tr>
                        <td>
                            <button class="btn-action btnUpdateUser" data-id=@item.Id>
                                <i class="fa fa-solid fa-edit"></i>
                            </button>
                            <form asp-controller="Users" method="post" asp-action="Delete" class="form-inline d-inline">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn-action">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        <td>@item.Person.Name @item.Person.FirstName @item.Person.SecondName</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Role</td>
                        <td>@item.Person.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalCreateUsers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div id="contentCreateUsers">
                        <!-- Parcial view -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close-border-8" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-green-border-8" form="createCustomer" value="Crear" />
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contentUpdateUser">
                    <!-- Parcial view -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-border-8" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-green-border-8" form="updateUser" value="Actualizar" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tablausers').DataTable({
        "responsive": true,
        "aServerSide": true,
        "autoWidth": false,
        "deferRender": true,
        "retrieve": true,
        "processing": true,
        "paging": true,
        "dom": 'Bfrtip',
        "buttons": ["csv", "excel", "pdf"],
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}