@model AccountViewModel;

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Aperturar Cuenta";
}

<div class="container">
    <div class="card-white-transparent shadow-container mt-5 w-100">

        <div class="header-card">
            <div class="row">
                <p class="tittle">Apertura de Cuentas Bancarias</p>
            </div>

            <br />
            <form method="get" asp-controller="BankAccounts" asp-action="AccountOppening">
                <div class="row mt-4">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-3 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center control-label">
                                Identificación
                            </div>

                            <div class="col-9">
                                <input type="text" name="id" class="form-control input-radius-50 mt-0" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-3 pt-sm-3 pt-md-3 pt-lg-0 pt-xl-0">
                        <input type="submit" value="Consultar" class="btn btn-green w-100" />
                    </div>
                </div>
            </form>
        </div>

        <div class="card-main pt-3">
            <h5>Información personal:</h5>
            <div class="row">

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Nombre Completo:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.FullName ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <label class="control-label">Estado Civil:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.MaritalStatus ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1">
                    <label class="control-label">Edad:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Age.ToString() ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Nacionalidad:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Nationality ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Ocupación:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Occupation ?? "")" disabled />
                </div>
            </div>

            <div class="row">
                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <label class="control-label">Teléfono:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.PhoneNumber.ToString() ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <label class="control-label">Correo Electrónico:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Email ?? "")" disabled />
                </div>

                <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                    <label class="control-label">Dirección de Residencia:</label>
                    <input type="text" class="form-control" value="@(Model?.Customer.Address ?? "")" disabled />
                </div>
            </div>

            <br />
            <hr />
            <form method="post" asp-controller="BankAccounts" asp-action="CreateAccount">
                <div class="row">
                    <h5>Información de la cuenta:</h5>

                    <input type="hidden" asp-for="Account.CustomerId" value="@Model?.Customer.CustomerId" />
                    <span asp-validation-for="Account.CustomerId" class="text-danger"></span>

                    <input type="hidden" name="personId" value="@Model?.Customer.PersonId" />

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="Account.TypeAccountId" class="control-label">Tipo de cuenta:</label>
                        <select asp-for="Account.TypeAccountId" asp-items="ViewBag.TypeAccount" class="form-control"></select>
                        <span asp-validation-for="Account.TypeAccountId" class="text-danger"></span>
                    </div>

                    <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <label asp-for="Account.TypeCurrencyId" class="control-label">Tipo de moneda:</label>
                        <select asp-for="Account.TypeCurrencyId" asp-items="ViewBag.TypeCurrency" class="form-control"></select>
                        <span asp-validation-for="Account.TypeCurrencyId" class="text-danger"></span>
                    </div>
                </div>

                <br />
                <hr />

                <h5>Cuentas existentes:</h5>
                <div class="">
                    <table id="tablacuenta" class="mt-4">

                        <thead>
                            <tr>
                                <th>Número de cuenta</th>
                                <th>Moneda</th>
                                <th>Estado</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null) {
                                @foreach (var account in Model.AccountList) {
                                    <tr>
                                        <td>@account.AccountId</td>
                                        <td>@account.TypeCurrency</td>
                                        <td>@account.State</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <span class="text-danger">@ViewData["Error"]</span>
                </div>

                <br />

                <div class="form-group d-flex justify-content-center pt-3">
                    <input type="submit" value="Generar Cuenta" class="btn btn-green" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}